Data Scraper
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -760,
        0
      ],
      "id": "870bc2e0-67f3-4831-9884-ae4a94117787",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "97cc9a60-431a-41b1-b841-1668c4a6ba1b",
              "leftValue": "={{ $json.url }}",
              "rightValue": "(google|gstatic|facebook|instagram|schema|wa.me|lh3|lh4|lh5|lh6)",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -100,
        0
      ],
      "id": "bc6108e0-3324-4241-89a2-5f45d84cce9e",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        120,
        0
      ],
      "id": "ff4d36a3-313c-4ab2-b8f7-a2f6d79a59e9",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        340,
        0
      ],
      "id": "4e7a386d-d7a2-4887-8fa7-7af4d537a313",
      "name": "Loop Over Items",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "emails"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -340,
        520
      ],
      "id": "60c6ac7a-29f4-4634-afe5-9e5f233f6dc0",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -720,
        480
      ],
      "id": "03eb294b-2dd6-4c39-ac6c-cf3325263b97",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "emails",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -120,
        520
      ],
      "id": "055f5d13-054e-4db1-b423-26336642416b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5120504-8c16-4c6d-adf2-169b59f2215a",
              "leftValue": "={{ $json.emails }}",
              "rightValue": "(wixpress|sentry|example)",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        100,
        520
      ],
      "id": "0d160dfa-9c97-4924-9e1b-24fd83610a84",
      "name": "Filter1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        320,
        520
      ],
      "id": "62c06779-ca9d-4254-9f1a-3d0341aaf1b4",
      "name": "Remove Duplicates1"
    },
    {
      "parameters": {
        "content": "![InnerFlow AI Logo](https://hqdvndqxberjkniyfndr.supabase.co/storage/v1/object/public/innerflow-ai//portada_n8n2.png)\n\n## Data Scraper\n\n### **Descripción del Flujo**\nEste flujo automatiza la recolección y gestión de datos relevantes como URLs y correos electrónicos, optimizando tareas repetitivas en procesos comerciales. Al integrar herramientas como Google Sheets, mejora la eficiencia en la gestión de prospectos, la clasificación de información y la toma de decisiones basadas en datos.\n\n**Aplicaciones en Procesos Comerciales**\n\n- Optimización de Prospección: Extrae y filtra correos electrónicos de prospectos, mejorando la calidad de las bases de datos.\n\n- Automatización de Seguimiento: Sincroniza los datos con Google Sheets, permitiendo un fácil seguimiento y actualización de los prospectos sin intervención manual.\n\n- Mejora de la Gestión de Leads: Filtra y organiza la información, evitando duplicados y asegurando la precisión de los registros, lo que facilita una mayor personalización en las estrategias comerciales.\n\n**Beneficios**\n\n- Reducción de Tareas Repetitivas: Automatiza la recolección de datos, liberando tiempo para actividades comerciales más estratégicas.\n- Mayor Precisión: Filtra y elimina registros irrelevantes o duplicados, asegurando que solo los datos válidos sean procesados.\n- Mejora en la Toma de Decisiones: Al centralizar los datos y mantenerlos actualizados, facilita el análisis y las decisiones basadas en información precisa.\n\nEste flujo mejora la gestión de prospectos y la eficiencia en procesos comerciales al automatizar la extracción y organización de datos clave, optimizando la productividad del equipo comercial.",
        "height": 1120,
        "width": 460,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1840,
        -160
      ],
      "typeVersion": 1,
      "id": "571d505b-8c2f-47c7-beee-8eb95ce3dab0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 1. Extracción y Filtrado de URLs\n\nEl proceso se ejecuta a través de varios nodos que operan en cadena:\n\n- Activación Manual:\nSe inicia el flujo al hacer clic en “Test workflow”, permitiendo pruebas y ejecución controlada.\n\n- Solicitud HTTP Inicial:\nSe realiza una petición HTTP a una URL proporcionada, obteniendo datos que contienen enlaces.\n\n- Extracción de URLs:\nUn nodo de código emplea una expresión regular para identificar y extraer todas las URLs presentes en el contenido recibido.\n\n- Formateo de datos:\nSe aplican diversos nodos que nos permiten modificar la información que obtenemos directamente desde el HTML.\n\n- Procesamiento en Lotes:\nSe dividen las URLs resultantes en batches para gestionar de manera óptima el procesamiento de cada enlace.\n\n- Solicitud HTTP para Cada URL:\nPor cada URL filtrada, se realiza una solicitud HTTP adicional, lo que permite integrar acciones posteriores o recopilar información específica.",
        "height": 580,
        "width": 480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1320,
        -160
      ],
      "typeVersion": 1,
      "id": "696450cf-9a29-4d47-8715-ea64e2ee29a6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Extracción de mails y comparación sobre BD anteriores\nEl proceso se compone de múltiples nodos que operan de manera secuencial y coordinada:\n\nExtracción de Emails:\n\n- Código de Extracción (Code1): \nUtiliza una expresión regular para extraer direcciones de correo electrónico del campo de datos, asegurándose de omitir extensiones de imagen (como .png, .jpg, etc.).\nAgregación y Preparación de Datos:\n\n- Formateo de información: \nTrabajamos con distintos nodos para el formateo de la información que recibimos del flujo anterior.\n\n- Sincronización y comparación de datos: \nDado que tenemos una base de datos de datos escrapeados anteriormente, lo que obtenemos de nuestro nodo de remover duplicados, va a ser comparado contra los correos electrónicos registrados en nuestra base de datos de contactos.",
        "height": 520,
        "width": 480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1320,
        440
      ],
      "typeVersion": 1,
      "id": "8e5afc5a-ce19-4e17-8735-c1531f7be904",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "emails",
              "field2": "Emails"
            }
          ]
        },
        "options": {
          "multipleMatches": "first"
        }
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1260,
        520
      ],
      "id": "dae2c200-5ba2-4428-b04a-37b30117d2de",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Correo electrónico",
              "renameField": true,
              "outputFieldName": "Emails"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        800,
        740
      ],
      "id": "5f19c8d4-a0bf-4bf8-a6b2-1e3908f721ab",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Emails",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1020,
        740
      ],
      "id": "1bc4c71d-6c3f-4749-b3b9-431532e6fd1a",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1620,
        560
      ],
      "id": "1fe4edbc-0bd0-482b-acd5-7da274f96eee",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        0
      ],
      "id": "1856d802-c994-477d-b445-ef554505e425",
      "name": "Extae HTML"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data;\n\nconst regex = /https?:\\/\\/[^\\s\\/]+/g;\n\nconst urls = data.match(regex);\n\nreturn urls.map(url => ({ json: { url: url } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        0
      ],
      "id": "9aba11db-7a40-4858-9c82-3868018213ee",
      "name": "Obtiene sitios relevantes"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        180
      ],
      "id": "208fb585-442b-4e2a-bb35-080505ba24bb",
      "name": "Extrae HTML de sitios relevantes",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.data || \"\"; // Si no hay datos, asigna una cadena vacía\n\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!png|jpg|gif|jpeg)[a-zA-Z]{2,}/g;\n\nconst emails = data.match(emailRegex) || []; // Si no encuentra emails, devuelve un array vacío\n\nconsole.log(emails);\n\nreturn { json: { emails } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        680
      ],
      "id": "90704b8b-22bf-4055-b26c-a46fc83f1267",
      "name": "Extrae emails"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1G0EKtdMpNJnkoN-JH2tCEvmAjfVQ_PtApeGKGpCwlVU",
          "mode": "list",
          "cachedResultName": "BD Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G0EKtdMpNJnkoN-JH2tCEvmAjfVQ_PtApeGKGpCwlVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 915563657,
          "mode": "list",
          "cachedResultName": "Prospectos sin contactar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G0EKtdMpNJnkoN-JH2tCEvmAjfVQ_PtApeGKGpCwlVU/edit#gid=915563657"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        560,
        740
      ],
      "id": "9c16e21b-3061-4ced-8f18-dab4b0ffeb9d",
      "name": "Busca en BD Clientes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "buFeQ1JUqiRKhwFm",
          "name": "Google Sheets - pbrunet@innerflowai.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1G0EKtdMpNJnkoN-JH2tCEvmAjfVQ_PtApeGKGpCwlVU",
          "mode": "list",
          "cachedResultName": "BD Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G0EKtdMpNJnkoN-JH2tCEvmAjfVQ_PtApeGKGpCwlVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 915563657,
          "mode": "list",
          "cachedResultName": "Prospectos sin contactar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G0EKtdMpNJnkoN-JH2tCEvmAjfVQ_PtApeGKGpCwlVU/edit#gid=915563657"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Correo electrónico": "={{ $json.emails }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre Completo",
              "displayName": "Nombre Completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sector",
              "displayName": "Sector",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cargo",
              "displayName": "Cargo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo electrónico",
              "displayName": "Correo electrónico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sitio web",
              "displayName": "Sitio web",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "País",
              "displayName": "País",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ciudad",
              "displayName": "Ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Solución",
              "displayName": "Solución",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Observaciones",
              "displayName": "Observaciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha último contacto",
              "displayName": "Fecha último contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha próximo contacto",
              "displayName": "Fecha próximo contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1920,
        740
      ],
      "id": "7d86d24b-f86f-4750-8e6f-7ea4e6ab701f",
      "name": "Agrega en BD Clientes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "buFeQ1JUqiRKhwFm",
          "name": "Google Sheets - pbrunet@innerflowai.com"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1920,
        460
      ],
      "id": "9c6dae11-c84d-46ed-840f-f903eb2c2ca5",
      "name": "Cierre del proceso"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Extae HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extrae HTML de sitios relevantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extrae emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Busca en BD Clientes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Cierre del proceso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agrega en BD Clientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extae HTML": {
      "main": [
        [
          {
            "node": "Obtiene sitios relevantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtiene sitios relevantes": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrae HTML de sitios relevantes": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extrae emails": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca en BD Clientes": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrega en BD Clientes": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "url": "https://www.google.com/maps/search/centro+de+estetica+buenos+aires/@-34.5936491,-58.4557189,14849m/data=!3m2!1e3!4b1?entry=ttu&g_ep=EgoyMDI1MDIyMy4xIKXMDSoASAFQAw%3D%3D"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7f8f0f4649f3bb6798fa1755cd9db200f85117dd1a03aa7c8cef8d15eb8275f2"
  }
}
