N8N - Clasificador de Gmail
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1100,
        40
      ],
      "id": "ed6c2b37-682e-4daa-b8a1-37dcccb380aa",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "PaLfRkvMcZlor68F",
          "name": "Gmail - pbrunet@innerflowai.com"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Alta prioridad",
              "description": "Urgente o importante, requiere acción inmediata."
            },
            {
              "category": "Clientes",
              "description": "=Consultas, seguimiento y comunicación con clientes. "
            },
            {
              "category": "Pagos y Cobranzas",
              "description": "Facturas, transferencias y seguimiento de pagos."
            },
            {
              "category": "Información y promociones",
              "description": "Newsletters, suscripciones y correos no urgentes."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -820,
        40
      ],
      "id": "0ed78d31-47ec-4d78-a67b-a59946ce3091",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_6914093096622743526"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -220,
        20
      ],
      "id": "8a9a2785-6bee-4230-9bd2-12e90830c09b",
      "name": "Alta prioridad",
      "webhookId": "6359aeb3-0a14-46a1-990f-1e90b1b68821",
      "credentials": {
        "gmailOAuth2": {
          "id": "PaLfRkvMcZlor68F",
          "name": "Gmail - pbrunet@innerflowai.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_4087215197509005555"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -220,
        240
      ],
      "id": "803eb6d0-28f3-4beb-a637-c05d11dbc38c",
      "name": "Clientes",
      "webhookId": "6359aeb3-0a14-46a1-990f-1e90b1b68821",
      "credentials": {
        "gmailOAuth2": {
          "id": "PaLfRkvMcZlor68F",
          "name": "Gmail - pbrunet@innerflowai.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_5294733489005023880"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -220,
        480
      ],
      "id": "9409f2d7-1b8b-4676-aed3-c46223dc4bcf",
      "name": "Pagos y Cobranzas",
      "webhookId": "6359aeb3-0a14-46a1-990f-1e90b1b68821",
      "credentials": {
        "gmailOAuth2": {
          "id": "PaLfRkvMcZlor68F",
          "name": "Gmail - pbrunet@innerflowai.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_3444423187624466438"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -220,
        860
      ],
      "id": "f6bd7f35-3411-4f44-af5c-5042f672cba2",
      "name": "Información y promociones",
      "webhookId": "6359aeb3-0a14-46a1-990f-1e90b1b68821",
      "credentials": {
        "gmailOAuth2": {
          "id": "PaLfRkvMcZlor68F",
          "name": "Gmail - pbrunet@innerflowai.com"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "messages": {
          "values": [
            {
              "content": "=### **Instrucciones Generales**\nEres un asistente de inteligencia artificial diseñado para analizar correos electrónicos relacionados con **urgencias y prioridades** en la operación de una empresa. Tu tarea es **comprender el contexto y la cadena de correos** para generar un **borrador de respuesta inmediata** con información relevante y clara. La respuesta será guardada en **borradores en Gmail** para revisión y eventual envío.\n\n### **Objetivo**\n- **Detectar la naturaleza de la urgencia:** emergencia operativa, problema crítico de cliente, solicitud prioritaria, falla en el servicio, etc.\n- **Clasificar la prioridad del correo** según su nivel de urgencia (Alta, Media, Baja).\n- **Analizar la cadena de correos** para extraer el contexto clave antes de responder.\n- **Redactar un borrador de respuesta rápida y efectiva**, asegurando claridad y acción inmediata.\n\n### **Generación del Borrador de Respuesta**\nEl agente debe generar un borrador de respuesta **rápida, efectiva y clara**, asegurando que contenga lo siguiente:\n\n- **Reconocimiento inmediato de la urgencia.**\n- **Confirmación de recepción y acciones en curso.**\n- **Solicitud de información adicional si es necesaria.**\n- **Indicación clara de los próximos pasos o plazos de resolución.**\n- **Cierre con garantía de seguimiento y contacto.**\n\n### El contenido del mensaje es el siguiente:\n\n{{ $('Text Classifier').item.json.snippet }}\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        20
      ],
      "id": "a2e429b3-23fa-4c64-9ee7-6f7e9403b723",
      "name": "Armar borrador",
      "credentials": {
        "openAiApi": {
          "id": "3wZ47KJvDN7PMOWC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un asistente cuyo propósito es identificar y resumir mensajes que contengan newsletters, promociones o anuncios de empresas que ofrecen productos o servicios. \n\nTu tarea principal es generar un resumen conciso de cada propuesta, indicando claramente:\n\n* **Empresa:** Nombre de la empresa que realiza la oferta.\n* **Producto/Servicio:** Descripción breve del producto o servicio ofrecido.\n* **Oferta:** Detalles específicos de la promoción o descuento (si aplica).\n* **Enlace (opcional):** Si el mensaje incluye un enlace, proporciónalo para que pueda acceder a más detalles.\n\nPrioriza la información más relevante y sé breve. Evita incluir detalles innecesarios o información genérica sobre la empresa.\n\nEste es el mensaje que recibes: {{ $('Text Classifier').item.json.snippet }}\n\n\n",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        860
      ],
      "id": "c2bb9f9a-d1d7-4c8c-973f-ab84f546939f",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "3wZ47KJvDN7PMOWC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "![InnerFlow AI Logo](https://hqdvndqxberjkniyfndr.supabase.co/storage/v1/object/public/innerflow-ai//portada_n8n2.png)\n\n## Clasificación Automática de Correos con IA\n\nLa gestión manual de correos electrónicos puede ser ineficiente y propensa a errores. Este flujo de trabajo automatiza la clasificación de correos utilizando **Inteligencia Artificial** y asignación de etiquetas en **Gmail**, mejorando la organización y priorización de los mensajes.\n\n### **Descripción del Flujo**\nEste flujo de trabajo procesa correos electrónicos entrantes y los clasifica automáticamente según su contenido. Los pasos incluyen:\n\n- **Activación Automática**: El flujo se ejecuta cada minuto para detectar nuevos correos electrónicos en Gmail.\n- **Análisis de Contenido**: Se utiliza un **Clasificador de Texto** basado en IA para categorizar cada correo según su relevancia.\n- **Categorización de Correos**:\n  - **Alta Prioridad**: Urgencias o tareas críticas.\n  - **Clientes**: Consultas y comunicaciones con clientes.\n  - **Pagos y Cobranzas**: Facturas, transferencias y temas financieros.\n  - **Información y Promociones**: Newsletters y correos no urgentes.\n- **Etiquetado Automático**: Se agregan etiquetas en Gmail para facilitar la gestión y búsqueda de correos según su categoría.\n- **Generación de Borradores con IA**: Para ciertos correos, un modelo de **GPT-4o-mini** genera respuestas automáticas que se guardan en **borradores** para revisión y envío manual si es necesario.\n- **Almacenamiento en Base de Datos**: Se guardan registros de ciertos correos en **NocoDB**, lo que permite el análisis y seguimiento de tendencias.\n\n### **Beneficios de la Automatización**\n- **Reducción del tiempo de clasificación manual**.\n- **Priorización eficiente** de correos según su urgencia.\n- **Respuestas más rápidas** mediante la generación automática de borradores.\n- **Mayor trazabilidad** gracias al almacenamiento en base de datos.\n\nEste flujo optimiza la gestión de correos electrónicos y mejora la productividad al eliminar la necesidad de clasificación manual y respuestas repetitivas.\n",
        "height": 1240,
        "width": 420,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1600,
        -140
      ],
      "typeVersion": 1,
      "id": "224a7fea-972e-4479-bd0b-a4f20e5e8e63",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "messages": {
          "values": [
            {
              "content": "=### **Instrucciones Generales**\nEres un asistente de inteligencia artificial diseñado para analizar correos electrónicos de clientes sobre **servicio, entrega y problemas** y generar una **respuesta automatizada** adecuada al contexto. Tu objetivo es **comprender el hilo completo de la conversación**, interpretar las necesidades del cliente y redactar un borrador de respuesta clara, profesional y efectiva.\n\n---\n\n### **Objetivo**\n- Analizar el contenido del correo y la conversación previa (si existe un hilo de correos).\n- Extraer información clave sobre la consulta, reclamo o seguimiento del servicio.\n- Redactar un **borrador de respuesta estructurado y listo para revisión** antes de ser enviado al cliente.\n- Mantener un tono profesional, empático y alineado con el contexto del mensaje.\n\n### **Generación del Borrador de Respuesta**\nEl agente debe redactar una respuesta clara y estructurada. La respuesta debe cumplir con los siguientes criterios:\n\n- **Debe ser breve, clara y profesional.**\n- **Debe responder a la inquietud del cliente de forma directa.**\n- **Si es necesario, debe solicitar información adicional de manera cordial.**\n- **Debe incluir un cierre amable y orientado a la acción.**\n- **Debe mantener la formalidad o el tono acorde al contexto del correo.**\n\n### El contenido del mensaje es el siguiente:\n\n{{ $('Text Classifier').item.json.snippet }}"
            }
          ]
        },
        "simplify": false,
        "options": {
          "maxTokens": 200,
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        240
      ],
      "id": "516428b2-5e3c-44b8-82f2-d20c1a1d4f0d",
      "name": "Armar borrador1",
      "credentials": {
        "openAiApi": {
          "id": "3wZ47KJvDN7PMOWC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_QUrlvMK8PlpnfFn3qt7i9FAo",
          "mode": "list",
          "cachedResultName": "Agent"
        },
        "prompt": "define",
        "text": "=- El contenido que recibes es el siguiente:\n\n{{ $('Text Classifier').item.json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        480
      ],
      "id": "3571e08e-a8df-4c56-b082-7bae0844440d",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "3wZ47KJvDN7PMOWC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pbfd8ezkymjg3tl",
        "table": "mseehyxgllblt7l",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Sender",
              "fieldValue": "={{ $('Text Classifier').item.json.From }}"
            },
            {
              "fieldName": "Briefing",
              "fieldValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        380,
        480
      ],
      "id": "ebc5c363-39f9-453e-b37b-692ad78a4d4d",
      "name": "Pagos y Cobranzas1",
      "credentials": {
        "nocoDbApiToken": {
          "id": "IiAZIUw89hQyXs8q",
          "name": "NocoDB - pablo.a.brunet@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pbfd8ezkymjg3tl",
        "table": "m7hfbgfsjoab91t",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Sender",
              "fieldValue": "={{ $('Text Classifier').item.json.From }}"
            },
            {
              "fieldName": "Briefing",
              "fieldValue": "={{ $json.message.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        380,
        860
      ],
      "id": "b0b8c08c-45e5-4e6a-a630-cd0aee9d7230",
      "name": "Promociones",
      "credentials": {
        "nocoDbApiToken": {
          "id": "IiAZIUw89hQyXs8q",
          "name": "NocoDB - pablo.a.brunet@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=RE: {{ $('Text Classifier').item.json.Subject }}",
        "message": "={{ $json.choices[0].message.content }}",
        "options": {
          "sendTo": "pbrunet@innerflowai.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        380,
        240
      ],
      "id": "dd77a90c-17d2-46c7-8f3c-0b5e3177a43c",
      "name": "Gmail",
      "webhookId": "b3b7ca02-a380-412f-9d30-bea8ed690fb3",
      "credentials": {
        "gmailOAuth2": {
          "id": "PaLfRkvMcZlor68F",
          "name": "Gmail - pbrunet@innerflowai.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=RE: {{ $('Text Classifier').item.json.Subject }}",
        "message": "={{ $json.message.content }}",
        "options": {
          "sendTo": "pbrunet@innerflowai.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        380,
        20
      ],
      "id": "249f1e3c-0f78-41f4-a570-d148d4727100",
      "name": "Gmail1",
      "webhookId": "b3b7ca02-a380-412f-9d30-bea8ed690fb3",
      "credentials": {
        "gmailOAuth2": {
          "id": "PaLfRkvMcZlor68F",
          "name": "Gmail - pbrunet@innerflowai.com"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-haiku-20241022",
          "mode": "list",
          "cachedResultName": "Claude 3.5 Haiku"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -740,
        260
      ],
      "id": "8eb4d348-d029-4875-be66-5e8f9049d449",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "Y7gxUGU8YVpz9UMb",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Pagos y Cobranzas').item.json.threadId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        700
      ],
      "id": "7e1b44c9-9e0a-4c6b-bb42-12533375cf6e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "## Text Classifier\n- Analiza los emails, categorizándolos y emitiendo un direccionamiento.",
        "height": 1240,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -900,
        -140
      ],
      "typeVersion": 1,
      "id": "87242055-9e2c-4cd5-944b-464b79b0a2f5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Agregar etiquetas y guardar en base de datos\n- Dependiendo la respuesta, trabajamos el contenido de los mails con el objetivo principal de ser resolutivos pero a su vez de tener un resumen de aquellos correos que son menos prioritarios o más repetitivos a lo largo del tiempo.",
        "height": 1240,
        "width": 960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -140
      ],
      "typeVersion": 1,
      "id": "87bfa21e-efbf-4f76-be18-723cc5eadee5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Gmail Trigger\n- Traemos todos los mails cada minuto, para clasificarlos automáticamente con su correspondiente label.",
        "height": 1240,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1160,
        -140
      ],
      "typeVersion": 1,
      "id": "5a117c63-478e-415d-9fc8-89670fab036e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Acá el tutorial para que lo puedas implementar:\n\n[![Youtube Thumbnail](https://i.insider.com/5d41b075454a397c1a051dd5?width=700)](https://www.youtube.com/watch?v=G16sMzCJ6MU&t=1398s)\n",
        "height": 360,
        "width": 460,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2080,
        -140
      ],
      "typeVersion": 1,
      "id": "d1718f43-4aa9-44a1-93bb-7f30be6aeaa6",
      "name": "Sticky Note4"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Alta prioridad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clientes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pagos y Cobranzas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Información y promociones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alta prioridad": {
      "main": [
        [
          {
            "node": "Armar borrador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clientes": {
      "main": [
        [
          {
            "node": "Armar borrador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pagos y Cobranzas": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Información y promociones": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar borrador": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Promociones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar borrador1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Pagos y Cobranzas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "OpenAI1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7f8f0f4649f3bb6798fa1755cd9db200f85117dd1a03aa7c8cef8d15eb8275f2"
  }
}
